<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <!-- 同梱フォント。拡張は自分のバンドルのフォントをここに書かないと
         UIFont(name:) で引けず、拡張漢字が ☒ になる
         (実体は withKatachiIme.js が assets/fonts/ から複製する) -->
    <key>UIAppFonts</key>
    <array>
      <string>KatachiExt1.ttf</string>
      <string>KatachiExt2.ttf</string>
    </array>
    <key>NSExtension</key>
    <dict>
      <key>NSExtensionPointIdentifier</key>
      <string>com.apple.keyboard-service</string>
      <key>NSExtensionPrincipalClass</key>
      <string>$(PRODUCT_MODULE_NAME).KeyboardViewController</string>
      <key>NSExtensionAttributes</key>
      <dict>
        <key>RequestsOpenAccess</key>
        <false/>
        <key>IsASCIICapable</key>
        <false/>
        <key>PrefersRightToLeft</key>
        <false/>
        <key>PrimaryLanguage</key>
        <string>ja-JP</string>
      </dict>
    </dict>
  </dict>
</plist>